<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Task4.Web</title>

    <script type="importmap"></script>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Task4.Web.styles.css" asp-append-version="true" />
</head>
<body>

    <nav class="navbar navbar-light bg-light border-bottom mb-3 px-3">
        <span class="navbar-brand">Task4.Web</span>

        @if (User.Identity?.IsAuthenticated == true)
        {
            <form asp-controller="Auth" asp-action="Logout" method="post" class="ms-auto">
                <button class="btn btn-outline-danger">Logout</button>
            </form>
        }
    </nav>

    <div class="container">
        <partial name="_StatusMessage" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>